/* Global Styles */
body {
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Section */
header {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space out the items */
    padding: 15px; /* Add padding around the header */
}

/* Logo in Navigation */
.nav-logo {
    width: 50px; /* Adjust the size as necessary */
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.nav-logo:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

/* Navigation */
nav {
    display: flex; /* Display nav items in a row */
}

nav ul {
    list-style: none; /* No bullets */
    display: flex; /* Display links in a row */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

nav ul li {
    margin-right: 20px; /* Space between nav items */
}

nav ul li a {
    color: #e0e0e0; /* Light color for text */
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #A8C3C0; /* Silver blue for hover */
}

/* Hero Section */
.hero {
    background-color: #292929; /* Hero section background */
    padding: 100px 20px; /* Padding for the hero section */
    text-align: center;
    opacity: 0; /* Fade-in effect */
    animation: fadeIn 1s ease-in-out forwards;
}

.hero h1 {
    color: #A8C3C0; /* Silver blue for hero heading */
    font-size: 48px; /* Hero heading font size */
    margin-bottom: 20px;
    opacity: 0; /* Fade-in effect */
    animation: fadeInUp 1.5s ease-in-out forwards;
}

.hero p {
    font-size: 24px; /* Hero paragraph font size */
    opacity: 0; /* Fade-in effect */
    animation: fadeInUp 1.8s ease-in-out forwards;
}

.cta-button {
    padding: 10px 20px;
    background-color: #A8C3C0; /* Silver blue for button */
    color: #121212; /* Dark text for button */
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #1E1E1E; /* Dark color for button hover */
    transform: scale(1.05); /* Button hover effect */
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
